<form method="post" class="float-left" action="{{ path('admin_exchange_rate_delete', {'id': exchange_rate.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exchange_rate.id) }}">
    <button class="btn btn-danger mr-2">Delete</button> 
</form>
