{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ save_button_label|default('Save') }}</button>
    <a href="{{ path('admin_exchange_rate_index') }}" class="btn btn-secondary">{{ cancel_button_label|default('Cancel') }}</a>
{{ form_end(form) }}
