{% extends 'admin/base.html.twig' %}

{% block title %}Edit Exchange Rate{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Edit Exchange Rate</h1>
    </div>
    <div class="container">
        {{ include('admin/exchange_rate/_form.html.twig', {'save_button_label': 'Update', 'cancel_button_label': 'Cancel'}) }}
    </div>    

{% endblock %}
