{% extends 'admin/base.html.twig' %}

{% block title %}ExchangeRate index{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Exchange Rates</h1>
        <p>These are the latest updted exchanges rates for USD.</p> 
    </div>
    <div class="container">

        <div class="row">
            <div class="col-12 text-right">
                <a class="btn btn-primary m-2" href="{{ path('admin_exchange_rate_new') }}">Create new</a>
            </div>
        </div>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Base currency</th>
                    <th>Currency</th>
                    <th>Rate</th>
                    <th>Last updated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for exchange_rate in exchange_rates %}
                    <tr>
                        <td>{{ exchange_rate.baseCurrency }}</td>
                        <td>{{ exchange_rate.currency }}</td>
                        <td>{{ exchange_rate.rate }}</td>
                        <td>{{ exchange_rate.lastUpdated ? exchange_rate.lastUpdated|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('admin_exchange_rate_show', {'id': exchange_rate.id}) }}">show</a>
                            <a href="{{ path('admin_exchange_rate_edit', {'id': exchange_rate.id}) }}">edit</a>
                            <a href="{{ path('admin_exchange_rate_delete', {'id': exchange_rate.id}) }}">delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr class="text-center">
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
