{% extends 'admin/base.html.twig' %}

{% block title %}Add Exchange Rate{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Add Exchange Rate</h1>
    </div>  
    <div class="container">
        {{ include('admin/exchange_rate/_form.html.twig') }}
    </div>    
{% endblock %}
