{% extends 'admin/base.html.twig' %}

{% block title %}ExchangeRate{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Exchange Rates</h1>
        <p>These are the latest updted exchanges rates for USD.</p> 
    </div>
    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Base Currency</th>
                    <td>{{ exchange_rate.baseCurrency }}</td>
                </tr>
                <tr>
                    <th>Currency</th>
                    <td>{{ exchange_rate.currency }}</td>
                </tr>
                <tr>
                    <th>Rate</th>
                    <td>{{ exchange_rate.rate }}</td>
                </tr>
                <tr>
                    <th>Last updated</th>
                    <td>{{ exchange_rate.lastUpdated ? exchange_rate.lastUpdated|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-secondary" href="{{ path('admin_exchange_rate_index') }}">back to list</a>

        {{ include('admin/exchange_rate/_delete_form.html.twig') }}

    </div>  
{% endblock %}
