{% extends 'frontend/base.html.twig' %}

{% block title %}ExchangeRate index{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Exchange Rates</h1>
        <p>These are the latest updated exchanges rates for USD.</p> 
    </div>
    <div class="container">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Base currency</th>
                    <th>Currency</th>
                    <th>Rate</th>
                    <th>Last updated</th>
                </tr>
            </thead>
            <tbody>
                {% for exchange_rate in exchange_rates %}
                    <tr>
                        <td>{{ exchange_rate.baseCurrency }}</td>
                        <td>{{ exchange_rate.currency }}</td>
                        <td>{{ exchange_rate.rate }}</td>
                        <td>{{ exchange_rate.lastUpdated ? exchange_rate.lastUpdated|date('j M, Y') : '' }}</td>
                    </tr>
                {% else %}
                    <tr class="text-center">
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
